<ion-header>
   <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!category">{{'Manage Portfolio'}}</ion-title>
    <ion-title *ngIf="category">{{category.name}} <span *ngIf="category.count">({{category.count}})</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list >
       <ion-item>
           <p><b>Client Name:</b> <span>{{Name}}</span></p>
       </ion-item>
       <ion-item>
           <p><b>Date of Birth:</b> <span>{{Dob}}</span></p>
       </ion-item>
       <ion-item>
           <p><b>Prepared By:</b> <span>{{Preparedby}}</span></p>
       </ion-item>
       <ion-item>
           <p><b>Address:</b> <span>{{Address}}</span></p>
       </ion-item>
       <ion-item>
           <p><b>City:</b> <span>{{City}}</span></p>
       </ion-item>
       <ion-item>
           <p><b>Postcode:</b> <span>{{Postcode}}</span></p>
       </ion-item>
   </ion-list>

    <button detail-none (click)="loadPost(post)" ion-item *ngFor="let post of posts">
      <ion-thumbnail item-start>
        <img *ngIf="post.featured_media" [id]="post.featured_media" [src]="post.featured_image" (click)="loadPost(post)">
      </ion-thumbnail>
      <p class="date">{{post.date | date: 'fullDate'}}</p>
      <h2 [innerHTML]="post.title.rendered"></h2>
      <p>{{post.content.rendered | trimHTML | truncate: 100 }}</p>
      <p>Bequeathed to: {{post.acf.asset_bequeathed_to }}</p>
    </button>
  <!-- problem is here-->
  <div padding *ngIf="noresults">
   <h3>Sorry no results found!</h3>
   <p>Please refine your search and try again</p>
 </div>

  <ion-grid>
  <ion-row>
    <ion-col col-8 *ngIf="!noresults">
      <button ion-button full color="primary" (click)="openSignatureModel()">Sign Portfolio</button>
    </ion-col>
    <ion-col col-4>
      <button ion-button full color="light" (click)="backHome()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp; Back</button> 
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
