page-viewposts {

}

.searchbar-input {
 color: #ccc;
}
.searchbar-input-container {
background: #fff!important;
}

.date {
 border-radius: 15px;
 text-align: right;
 padding: 5px;
 font-size: 9px!important;
}