<ion-content scroll="false" class="page-welcome" text-center>
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      <span *ngIf="user">Hello {{ user.user_nicename }}</span>
    </div>
    <div class="splash-email" *ngIf="user">{{ user.user_email }}</div>
  </div>

    <h2 *ngIf="!signatureImage" >What do you want to do?</h2>

    <ion-item *ngIf="signatureImage" >
      <h2>Thanks your Portfolio has been saved.</h2>
      <!-- <img src="assets/imgs/success.png" with="40" /> -->
  </ion-item>


 <ion-grid>
  <ion-row>
    <ion-col >
      <button ion-button full color="primary" (click)="createPortfolio()">New Portfolio</button> 
    </ion-col>
<!--
    <ion-col col-6 *ngIf="user">
      <button ion-button full color="light" (click)="logout()">Sign Out</button> 
    </ion-col>


    <ion-col *ngIf="assetbtn">
      <button ion-button full color="light" (click)="addAssets()">Add Assets</button> 
    </ion-col>

  -->


   </ion-row>
   <ion-row>

       <ion-col col-9 class="search-input">
        <ion-input type="text" placeholder="Enter Client name or Portfolio ID" [(ngModel)]="search" name="search"></ion-input>
      </ion-col>
      <ion-col col-3 class="search-button" >
        <button ion-button color="primary" full (click)="searchPosts()">Search</button>
      </ion-col>

  </ion-row>
</ion-grid>

</ion-content>
