<ion-header>
	<ion-navbar>
		<button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="post">{{post.title.rendered}}</ion-title>
		<ion-buttons end>
	      <button (tap)="sharePost()" ion-button icon-only>
	        <ion-icon name="share"></ion-icon>
	      </button>
	    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="post">
  <ion-list *ngIf="post">
    <ion-item>
        <ion-item text-wrap>
            <h1 [innerHTML]="post.title.rendered"></h1>
            <h4>{{post.date | date: 'fullDate'}}</h4> 
        </ion-item>
        <img *ngIf="post.featured_media" [id]="post.featured_media" [src]="post.featured_image" >
    </ion-item>

    <ion-grid>
	  <ion-row>
	    <ion-col *ngIf="post.acf.asset_image1 || post.asset_image1">
	      <img  [src]="post.asset_image1!= null ? post.asset_image1 : post.acf.asset_image1">
	    </ion-col>
	    <ion-col *ngIf="post.acf.asset_image2 || post.asset_image2">
	      <img  [src]="post.asset_image2!= null ? post.asset_image2 : post.acf.asset_image2">
	    </ion-col>
	   <ion-col *ngIf="post.acf.asset_image3 || post.asset_image3">
	      <img  [src]="post.asset_image3!= null ? post.asset_image3 : post.acf.asset_image3">
	    </ion-col>
	  </ion-row>
	</ion-grid>

	 <ion-card class="bottom" padding text-wrap *ngIf="post.content.rendered">
      <p [innerHtml]="post.content.rendered"></p>
      <p><b>Bequeathed to:</b> {{post.acf.asset_bequeathed_to }}</p>
    </ion-card>
<!--
	<ion-list *ngIf="comments">
	  <ion-item-divider light>Comments</ion-item-divider>
	  <ion-item text-wrap *ngFor="let comment of comments">
	    <ion-avatar item-left>
	      <img [src]="comment.author_avatar_urls[96]">
	    </ion-avatar>
	    <h2>{{comment.author_name}}</h2>
	    <p [innerHTML]="comment.content.rendered"></p>
	  </ion-item>
	</ion-list> -->
  </ion-list>

   <ion-fab left bottom #fab4>
    <button ion-fab color="dark" (click)="editAsset(post)"> <ion-icon ios="ios-create" md="md-create"></ion-icon>&nbsp;Edit</button>
 </ion-fab>

 <ion-fab right bottom #fab2>
    <button ion-fab color="light" (click)="cloneAsset()"><ion-icon ios="ios-copy" md="md-copy"></ion-icon>&nbsp;Clone</button>
  </ion-fab>
</ion-content>
