<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIGNUP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="signup">
 <img src="assets/img/logo.png" class="center" width="120px" />

       <p text-center *ngIf="data.response.errors " > Invalid email address  </p>
       <p text-center *ngIf="data.response.result == 'false'" > You have errors in your form.</p>

  <ion-list class="loginMargin">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="data.username"></ion-input>
       <p *ngIf="data.response.username == ''" > Please enter a username  </p>
    </ion-item>

     <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="data.email"></ion-input>
       <p *ngIf="data.response.email == ''" > Please enter an email </p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="data.password"></ion-input>
       <p *ngIf="data.response.password == ''" > Please enter a password  </p>
    </ion-item>

     <button ion-button block color="primary" class="loginbtn" (click)="signup()"><ion-icon name="contact"></ion-icon>&nbsp;Signup now</button>
  </ion-list>

<!--
  <ion-card>
    <ion-card-header>
      Response
    </ion-card-header>
    <ion-card-content>
      <b>{{data.response.username}}</b>
      <b>{{data.response.email}}</b>
      <b>{{data.response.password}}</b>
      <b>{{data.response.result}}</b>
      <b>{{data.response.errors}}</b>
    </ion-card-content>
  </ion-card>
-->
            

</ion-content>